<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
	<title>Dante Alvarado-Leon</title>
	<!--fonts-->
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<!--//fonts-->
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Dante Alavarado-Leon, MentorRoom " />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<!-- js -->
		<script type="text/javascript" src="js/jquery.min.js"></script>
	<!-- js -->
	<!-- start-smooth-scrolling -->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
	<!-- start-smooth-scrolling -->

</head>
<body>
<!-- banner -->
<div class="banner" id="home">
	<div class="container"> 
		<div class="top-header row">
			<script src="assets/classie.js"></script>
			<!--top-nav -->
			<!-- <div class="logo">
				<a href="#"><img src="assets/logo.png" alt=""/></a>
			</div> -->
			<div class="top-nav">
				<%= link_to "about", "#{root_path}#about", class: "media-link"  %>

				<%= link_to "skills", "#{root_path}#skills", class: "media-link"  %>

				<%= link_to 'portfolio', "#{root_path}#portfolio", class: "media-link" %> 

				<%= link_to "blog", "#{root_path}#blog", class: "media-link"  %>

				<%= link_to 'media', media_path, class: "media-link" %> 

				<%= link_to "contact", "#{root_path}#contact", class: "media-link"  %>

				<div class="clearfix"> </div>
   
			</div>

	


			<!-- -start-click-drop-down-menu -->
			        <!-- start-dropdown-->
			         <script type="text/javascript">
						var $ = jQuery.noConflict();
							$(function() {
								$('#activator').click(function(){
									$('#box').animate({'top':'0px'},900);
								});
								$('#boxclose').click(function(){
								$('#box').animate({'top':'-1000px'},900);
								});
							});
							$(document).ready(function(){
							//Hide (Collapse) the toggle containers on load
							$(".toggle_container").hide(); 
							//Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
							$(".trigger").click(function(){
								$(this).toggleClass("active").next().slideToggle("slow");
									return false; //Prevent the browser jump to the link anchor
							});
												
						});
					</script>
			<!-- -//End-click-drop-down-menu -->
			<!-- <div class="clearfix"> </div> -->
		</div>



		<div class="banner-info">
			<div class="banner-left">
				<a href="https://www.linkedin.com/in/dantealvaradoleon/">
					<img class="img-circle" src="assets/1"/>
				</a>
			</div>
			<div class="col-md-6 banner-right">
				<!-- <h1> FROM THE BORDER TO SILICON VALLEY</h1> -->
				<h1>HI I’M DANTE!</h1>
				<div class="border"></div>
				<h2>ENTREPRENEUR & TECH ENTHUSIAST</h2>
				<!-- <p> In one line: I have a love for tech, but a passion for people.</p> -->
				
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- /header-banner -->


<!-- about -->
<div class="about text-center" id="about">
	<div class="container">
		<h3>ABOUT ME</h3>
		<div class="strip text-center"><img src="assets/about.png" alt=" "/></div>
		<!-- <p class="text-left"> Hello World!</br> </p> -->
		 
		<p class="text-left">From the Border to Silicon Valley</br> </p>

		<p class="text-left"> I strongly believe that education is our compass to make history and leave a legacy beyond the classroom. I grew up in what people commonly refer to as "La Frontera," the border, in the cities of Chula Vista and Tijuana. When I was in elementary school, my mother decided to enroll my sisters and I in a school in the U.S. We had to make many sacrifices, such as crossing the border every morning around 5:00am to go to school. I am grateful for this decision because it opened many doors of opportunity for my family.</br> </p>

		<p class="text-left">I am recent graduate from the University of California, Berkeley, where I earned a B.S. in Business Administration from the Haas School of Business, and a Certificate in Entrepreneurship and Technology from the College of Engineering. I am currently a Software and Platforms Senior Research Analyst at Accenture in San Francisco. During my undergrad career, I interned at Facebook for two summers, learning about launching products that connect billions of people worldwide, and I also spearheaded several initiatives in education and technology working with the Hispanic Heritage Foundation and Google.</br> </p> 

		<p class="text-left">I have a love for technology, and a passion for people. At the age of 19, my passion for problem-solving, and my entrepreneurial spirit lead me to launch my first venture, a tech platform to connect companies with nonprofits. Our efforts to spark change were recognized as our team was selected to be part of Manos Accelerator in Silicon Valley, and a finalist for the Hult Prize 2015 Social Enterprise Challenge. In 2016, I also had the opportunity to travel to India to present an EdTech platform to government officials as part of Prime Minister Modi’s Smart Cities Project in Hyderabad and Vizag with 30 other Berkeley Scholars.</br> </p> 

		<p class="text-left">This year, I launched my second venture, MentorRoom, an online platform for mentorship, connecting hundreds of students from diverse backgrounds to professionals and professional development resources to inspire the next generation of leaders and geniuses. Through this initiative, we were awarded the Bay Area Inspire Awards, featured in CNN, and selected as one of the recipients for Unvision’s Premios Juventud – Agentes de Cambio (Agents of Change) in Miami. I was also recognized as one of ten students around the nation for the OZY Genius Award in New York, and as the Hispanicize Positive Impact Awards Person of the Year and STEM Star. </br> </p>

		<p class="text-left">What has influenced me the most is living a life in two countries. I grew up in Tijuana, Mexico but I was born in the United States. I experienced how helping others does not always have to be something revolutionary or big, there is a lot we can do as humans in subtle ways that can really touch people and have a large impact in their lives. As myself, I believe that what makes me a leader are the people who surround me, passionate and resilient individuals who have a thirst for social impact, students filled with motivations, inspirations, and dreams, families working day in and day out to provide a great future for their children, and my immigrant abuelitos who came from humble beginnings, never gave up, faced discrimination, and through perseverance were able to immigrate to this country. I will continue being a big dreamer, channeling my energy, talent, and ideas into something that is bigger and more impactful than myself. Si se puede! I am committed to continue advocating for equality and opportunity for all of us, and continue representing our community at the highest standards.</br> </p>

		<p class="text-left">“Remember, success is not measured by how high you climb, but how wide you can reach. So reach wide and the height will take care of itself,” these wise words by Dr. Juan Andrade are written on the first page of my journal. I am a strong believer in the power of education and technology as equalizers for society. My aim is to build ladders, not walls, for students, people, and communities to prosper and help each other grow. I want to offer organizations and teams the best of both worlds-- the American conception of freedom and opportunity, of innovation, and global influence, but from my upbringing, the values that my immigrant abuelitos have inculcated in me of resourcefulness, family, and to always pay it forward.</br></p>

		<!-- <p class="text-left"> I am passionate about creating products that improve our lives, and developing solutions that add social value to our society and positively impact our world. I am an entrepreneur at heart and I love coming up with innovative ideas during my spare time.</br></p>

		<p class="text-left"> At the age of 19, I founded my first venture, an online platform to connect companies with nonprofits around the world. I am currently working on my second startup,<a href="https://www.mentorroom.co/"> MentorRoom</a>, our vision is to increase access to mentors for everyone via our virtual platform. </br> </p>
		 
		<p class="text-left"> I grew up in what many people commonly refer to as “La Frontera,” the border, which is at the crossroads of two distinct countries, the U.S. and Mexico, in the cities of Tijuana and Chula Vista, which have shaped who I am. </p>  -->



		<ul>
			<!-- <li><a class="icon_overlay fb" href="https://github.com/Dantech0017"></a></li> -->
			<li><a class="icon_overlay in" href="https://www.linkedin.com/in/dantealvaradoleon/"></a></li>	
			<li><a class="icon_overlay twit" href="https://twitter.com/DanteAlvarado10"></a></li>
		</ul>

         

	</div>
</div>
<!-- //about -->
<!-- <div class="about-back"></div>  -->

<!-- my skill -->
<div class="my-skills text-center" id="skills">
	<div class="container">
		<h3>MY SKILLS</h3>
		<div class="strip text-center"><img src="assets/skill.png" alt=" "/></div>
		<div class="skill-grids">

					<!-- every circle can only have one id or it crashes -->
					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-6"></div>
						<p>Data Analytics</p>
					</div>

					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-5"></div>
						<p>Market Research</p>
					</div>

					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-4"></div>
						<p>Brand Management & Strategy</p>
					</div>

					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-3"></div>
						<p>Product Management</p>
					</div>

					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-2"></div>
						<p>Product Design</p>
					</div>

					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-1"></div>
						<p>Web Development</p>
					</div>
					<div class="clearfix"> </div>
				 <script type="text/javascript" src="js/circles.js"></script>
					         <script>
					         	// great blue color but darker 009cd2
								var colors = [
										['#ffffff', '#1fbdec'], ['#ffffff', '#1fbdec'], ['#ffffff', '#1fbdec'], ['#ffffff', '#1fbdec'], ['#ffffff', '#1fbdec'], ['#ffffff', '#1fbdec']
									];
								for (var i = 1; i <= 7; i++) {
									var child = document.getElementById('circles-' + i),
										percentage = 30 + (i * 10);
										
									Circles.create({
										id:         child.id,
										percentage: percentage,
										radius:     80,
										width:      10,
										number:   	percentage / 1,
										text:       '%',
										colors:     colors[i - 1]
									});
								}
						
				</script>
		</div>
	</div>	
</div>
<!-- //my skill
<!<div class="my-skill-back"></div>

<! <div class="strip-border"><p></p></div> 
<! work -->
<div class="work-experience text-center">
	
	<div class="container">
		<div class="work-info">
			<h3>WORK EXPERIENCE</h3>
		</div>
		<div class="strip text-center"><img src="assets/work.png" alt=" "/></div>
		<div class="work-grids">

			<div class="col-md-4 w-grid">
				<div class="work-grid">
					<h3>June 2017 - Present</h3>
					<div class="work-grid-info">
						<h4>Accenture</h4>
						<h5>Senior Research Analyst</h5>
						<p align="left" >First analyst hire for the Software & Platforms team. Responsible for analyzing the market opportunity, tracking over 200 unicorns and platform companies worldwide, and developing thought leadership within Accenture's fastest growing industry. Currently working with a team of global researchers in the U.S., Europe, and APAC.</p>
					</div>
				</div>
			</div>

			<div class="col-md-4 w-grid">
				<div class="work-grid">
					<h3>May 2016 - August 2016</h3>
					<div class="work-grid-info">
						<h4>Facebook</h4>
						<h5>Product Specialist Intern</h5>
						<p align="left" >Analyzed large data sets using Scuba, SQL, and Excel to improve global mobile data caps for auto-play videos. Worked with Data Scientists and Engineers to optimize formulas, increase key engagement metrics, and measure impact. Lead meetings with key stakeholders from XFN groups (Emerging Markets, Internet.org, Media, and Legal) to collaborate on project, and proceed with implementation</p>
					</div>
				</div>
			</div>


			<div class="col-md-4 w-grid">
				<div class="work-grid">
					<h3>June 2015 - August 2015</h3>
					<div class="work-grid-info">
						<h4>Facebook</h4>
						<h5>Marketing and Referrals Intern</h5>
						<p align="left" >Designed the “Beyond Connected” brand and marketing strategy for Facebook’s Employee Referrals Program. Developed an internal landing site using HTML and CSS to inform and encourage Facebook employees to submit referrals. Composed scripts, interviewed recruiters, filmed, and edited three company videos in Adobe Premiere. Planned the first ever Enlighten Coding and Impact Summit with Hispanics in Philanthropy, YMCA, and the Boys & Girls Club.</p>
					</div>
				</div>
			</div>


			<!-- <div class="col-md-4 w-grid">
				<div class="work-grid">
					<h3>2013 - Now</h3>
					<div class="work-grid-info">
						<h4>Google</h4>
						<h5>Visual Designer</h5>
						<p>Now that there is the Tec-9, a crappy spray gun from South Miami. 
						This gun is advertised as the most popular gun in American crime. 
						Do you believe that shit? It actually says that in the little book 
						that comes with it: the most popular gun in</p>
					</div>
				</div>
			</div> -->

			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--//work-->


<!-- <div class="services-back"></div> -->

<!--services-->
<!-- <div class="services text-center" id="services">
	<div class="container">
		<div class="ser-info">
			<h3>SERVICES</h3>
		</div>
		<div class="strip text-center"><img src="assets/ser.png" alt=" "/></div>
		<div class="ser-grids">
			<div class="col-md-3 ser-grid">
				<div class="ser-imagea"></div>
				<h3>Web Design</h3>
				<p>I'm gonna shoot you in the head
				then and there. Then I'm gonna shoot 
				that bitch in the kneecaps.</p>
			</div>
			<div class="col-md-3 ser-grid">
				<div class="ser-imageb"></div>
				<h3>Graphic Design</h3>
				<p>I'm gonna shoot you in the head
				then and there. Then I'm gonna shoot 
				that bitch in the kneecaps.</p>
			</div>
			<div class="col-md-3 ser-grid">
				<div class="ser-imagec"></div>
				<h3>Content Writer</h3>
				<p>I'm gonna shoot you in the head
				then and there. Then I'm gonna shoot 
				that bitch in the kneecaps.</p>
			</div>
			<div class="col-md-3 ser-grid">
				<div class="ser-imaged"></div>
				<h3>Development</h3>
				<p>I'm gonna shoot you in the head
				then and there. Then I'm gonna shoot 
				that bitch in the kneecaps.</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div> -->
<!--//services-->


<!--portfolio-->
<div class="gallery-section text-center" id="portfolio">
	<div class="container">
		<h3>PORTFOLIO</h3>
		<div class="strip text-center"><img src="assets/port.png" alt=" "/></div>
		<p>A selection of ideas and product designs I've worked on.</p>
		<div class="gallery-grids">
			<div class="top-gallery">

				<div class="col-md-4 blog-text-info">
					<div class="blog-grid">
						<img src="assets/mrapp" alt=""/>
						<div class="portfolio-box">
							<a href="www.mentorroom.co">MentorRoom</a>
							<p class="black-text">Developed a pitch deck and presented it at the Kapor Capital's People Ops Tech Competition 2016.</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 blog-text-info">
					<div class="blog-grid">
						<a href="https://www.mentorroom.co/"><img src="assets/mrweb" alt=""/></a>
						<div class="portfolio-box">
							<a href="https://www.mentorroom.co/">MentorRoom</a>
							<p class="black-text">Web development & design: A virtual mentorship platform for college students and professionals.</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 blog-text-info">
					<div class="blog-grid">
						<img src="assets/backstory" alt=""/>
						<div class="portfolio-box">
							<a >BackStory</a>
							<p class="black-text">Mobile app design + idea: Share your background while messaging your friends.</p>
						</div>
					</div>
				</div>


				<div class="col-md-4 blog-text-info">
					<div class="blog-grid">
						<img src="assets/lifesaver" alt=""/>
						<div class="portfolio-box">
							<a >LifeSaver</a>
							<p class="black-text">Product design and slidedeck: Social Media Management Platform for Bloggers</p>
						</div>
					</div>
				</div>


				<div class="col-md-4 blog-text-info">
					<div class="blog-grid">
						<img src="assets/enlighten" alt=""/>
						<div class="portfolio-box">
							<a >Enlighten</a>
							<p class="black-text">IDEAFEST Finalist @ Berkeley: Introducing a wireless charger solution to charge your phones on-the-go.</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 blog-text-info">
					<div class="blog-grid">
						<img src="assets/carpool" alt=""/>
						<div class="portfolio-box">
							<a >Carpool Casually</a>
							<p class="black-text">Prototype for IEOR 186: Product Management class. Our team developed a carpool solution for working professionals in the Bay Area.</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 blog-text-info">
					<div class="blog-grid">
						<img src="assets/eyetrain" alt=""/>
						<div class="portfolio-box">
							<a >Eyetrain</a>
							<p class="black-text">Developed the Pitch deck design and idea, and presented it to a panel. Eyetrain is a Virtual Reality education platform for medical students.</p>
						</div>
					</div>
				</div>


				


				<div class="col-md-4 blog-text-info">
					<div class="blog-grid">
						
						<iframe class="" width="349.98px" height="207" src="https://www.youtube.com/embed/ikxjTQd4iQs" frameborder="0" allowfullscreen></iframe>

						<div class="portfolio-box">
							<a >My World App</a>
							<p class="black-text">Prototype + Concept: Complete a checklist by taking pictures of social issues impacting your community, and become a catalyst for change among your friends.</p>
						</div>
					</div>
				</div>


				<!-- doesnt resize with web broswer
				<div class="col-md-4 w-grid">
					<div class="work-grid">
						<img src="assets/p1.jpg" class="portfolio-image">
						<div class="portfolio-box">
							<h4>Facebook</h4>
							<h5>Product Specialist Intern</h5>
							<p class="black-text">Worked with the Videos/Media team to research mobile data caps for Autoplay, and 
							develop recommendations to improve the experience for millions of data-sensitive users around the world. Launched the "Beyond Connected" internal marketing campaign.</p>
						</div>
					</div>
				</div> -->

				<!-- <div class="col-md-4 gallery-grid gallery1">
					<a href="assets/p6.jpg" class="swipebox"><img src="assets/p6.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>Project Name</h4>
							<p>WEB DESIGN</p>
							<div class="button"><a href="assets/p6.jpg" class="swipebox">VIEW</a></div>
						</div>
				</div></a> -->


				<div class="clearfix"> </div>
			</div>
				<link rel="stylesheet" href="css/swipebox.css">
				<script src="js/jquery.swipebox.min.js"></script> 
					<script type="text/javascript">
						jQuery(function($) {
							$(".swipebox").swipebox();
						});
					</script>
		</div>
	</div>
</div>
<!--//portfolio-->

<!--process-->
<!-- <div class="process text-center">
	<div class="container">
		<h3>PROCESS</h3>
		<div class="strip text-center"><img src="assets/pro.png" alt=" "/></div>
		<div class="process-girds">
			<div class="col-md-2 process-pad">
				<div class="process-gird">
					<div class="process-imagea"></div>
					<p>IDEA</p>
					<img src="assets/6.png" alt=""/>
				</div>
			</div>
			<div class="col-md-2 process-pad">
				<div class="process-gird">
					<div class="process-imageb"></div>
					<p>CONCEPT</p>
					<img class="pro-imga" src="assets/6.png" alt=""/>
				</div>
			</div>
			<div class="col-md-2 process-pad">
				<div class="process-gird">
					<div class="process-imagec"></div>
					<p>DESIGN</p>
					<img class="pro-img" src="assets/6.png" alt=""/>
				</div>
			</div>
			<div class="col-md-2 process-pad">
				<div class="process-gird">
					<div class="process-imaged"></div>
					<p>DEVELOP</p>
					<img class="pro-imgb" src="assets/6.png" alt=""/>
				</div>
			</div>
			<div class="col-md-2 process-pad">
				<div class="process-gird">
					<div class="process-imagee"></div>
					<p>TEST</p>
					<img src="assets/6.png" alt=""/>
				</div>
			</div>
			<div class="col-md-2 process-pad">
				<div class="process-gird">
					<div class="process-imagef"></div>
					<p>LAUNCH</p>
					
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div> -->
<!--//process-->


<!-- <div class="process-back"></div> -->

<!--testimonials-->
<!-- <div class="testimonials" id="testimonial">
	<div class="container">
		<h3>TESTIMONIAL</h3>
		<div class="strip text-center"><img src="assets/test.png" alt=" "/></div>
		 -->	<!-- responsiveslides -->
					<!-- <script src="js/responsiveslides.min.js"></script>
						<script>
							// You can also use "$(window).load(function() {"
							$(function () {
							 // Slideshow 4
							$("#slider3").responsiveSlides({
								auto: true,
								pager: false,
								nav: true,
								speed: 500,
								namespace: "callbacks",
								before: function () {
							$('.events').append("<li>before event fired.</li>");
							},
							after: function () {
								$('.events').append("<li>after event fired.</li>");
								}
								});
								});
						</script> -->
			<!-- responsiveslides -->
			<!-- <div  id="top" class="callbacks_container">
					<ul class="rslides" id="slider3">
						<li>
							<div class="test-banner">
								<img class="quoa" src="assets/quo2.png" alt=""/>
								<div class="test-left">
									<img src="assets/7.png" alt=""/>
								</div>
								<div class="test-right">
									<p>However unreal it may seem, we are connected, 
									you and I. We're on the same curve, just on opposite ends.</p>
									<h4>Sam L. J. - Pulp Fiction</h4>
								</div>
								<div class="clearfix"></div>
								<img class="quo" src="assets/quo1.png" alt=""/>
							</div>
						</li>
						<li>
							<div class="test-banner">
								<img class="quoa" src="assets/quo2.png" alt=""/>
								<div class="test-left">
									<img src="assets/eee.png" alt=""/>
								</div>
								<div class="test-right">
									<p>However unreal it may seem, we are connected, 
									you and I. We're on the same curve, just on opposite ends.</p>
									<h4>Sam L. J. - Pulp Fiction</h4>
								</div>
								<div class="clearfix"></div>
								<img class="quo" src="assets/quo1.png" alt=""/>
							</div>
						</li>
					</ul>
			</div>
			
	</div>
</div> -->
<!--testimonials-->


<!--clients-->
<!-- <div class="clients text-center">
	<div class="container">
		<h4>Clients</h4>
		<div class="strip-line"></div>
		<div class="client-grids">
			<div class="col-md-4 cl-grid">
				<div class="client-grid">
					<img src="assets/10.png" alt=""/>
				</div>
			</div>
			<div class="col-md-4 cl-grid">
				<div class="client-grid">
					<img src="assets/11.png" alt=""/>
				</div>
			</div>
			<div class="col-md-4 cl-grid">
				<div class="client-grid">
					<img src="assets/12.png" alt=""/>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div> -->
</div>
<!--clients-->
<!-- <div class="client-back"></div> -->

<!--education-->
<!-- <div class="education text-center">
	<div class="container">
		<div class="edu-info">
			<h3>EDUCATION</h3>
		</div>
		<div class="strip text-center"><img src="assets/edu.png" alt=" "/></div>

		<div class="col-md-4 col-md-offset-2 edu-grids">
			<div class="edu-grid">
				<p>2013 - 2017</p><span>Graduated</span>

				<div class="edu-border">
					<div class="edu-grid-master">
						<h3>BACHELOR OF SCIENCE IN BUSINESS ADMINISTRATION</h3>
						<h4>Haas School of Business</h4>
						<h4>University of California, Berkeley</h4>
					</div>
					
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-4 edu-grids">
			<div class="edu-grid">
				<p>2017</p><span>Received</span>
				<div class="edu-border">
					<div class="edu-grid-master">
						<h3>CERTIFICATE IN TECHNOLOGY ENTREPRENEURSHIP</h3>
						<h4>College of Engineering</h4>
						<h4>University of California, Berkeley</h4>
					</div>

				</div>
			</div>
			<div class="clearfix"></div>
		</div>

	</div>
	
</div> -->
<!--//education-->


<!--blog-->
<div class="blog" id="blog">
	<div class="container">
		<div class="blog-info text-center">
			<h3>BLOG</h3>
			<div class="strip text-center"><img src="assets/blog.png" alt=" "/></div>
		</div>

		<div class="blog-grids">

			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="https://medium.com/@dantealvaradoleon/dear-college-students-ffdeb026cb50"><img src="assets/dear" alt=""/></a>
					<div class="blog-text">
						<a href="https://medium.com/@dantealvaradoleon/dear-college-students-ffdeb026cb50">Dear College Student</a>
						<div class="stripa"></div>
						<p>We live in a world of ideas, imaginations turned into realizations...</p>
					</div>
				
					<!-- <div class="blog-para">
							<ul>
								<li><a href="#">3 Comments</a></li>
								<li><a href="#">8 Share</a></li>
							</ul>
					</div>	 -->
					<!-- <div class="blog-pos">
						<p>13<span>Oct</span></p>
					</div> -->
				</div>
			</div>

			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="https://medium.com/@dantealvaradoleon/life-s-greatest-coach-107e1eb3ec91"><img src="assets/ball" alt=""/></a>
					<div class="blog-text">
						<a href="https://medium.com/@dantealvaradoleon/life-s-greatest-coach-107e1eb3ec91">Life’s Greatest Coach</a>
						<div class="stripa"></div>
						<p>I had been able to accomplish many of my aspirations was because since I was a child, I used to play soccer and it had taught me many valuable life lessons.</p>
					</div>
				
				
					<!-- <div class="blog-pos">
						<p>10<span>Mar</span></p>
					</div> -->
				</div>
			</div>


			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="https://medium.com/@dantealvaradoleon/india-the-peaceful-chaos-b8fd6919b1a6"><img src="assets/indiapic" alt=""/></a>
					<div class="blog-text">
						<a href="https://medium.com/@dantealvaradoleon/india-the-peaceful-chaos-b8fd6919b1a6">Memoirs from India</a>
						<div class="stripa"></div>
						<p>I started the new year on a plane. Flying for the first time outside of North America, on a journey to India...</p>
					</div>
				</div>
			</div>


			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--//blog-->


<!-- articles -->

<div class="blog" id="articles" >
	<div class="container">
		<div class="blog-info text-center">
			<h3>ARTICLES</h3>
			<div class="strip text-center"><img src="assets/blog.png" alt=" "/></div>
		</div>
		<div class="blog-grids">
			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="https://hipgive.org/what-could-you-do-to-change-the-world/"><img src="assets/teaching" alt=""/></a>
					<div class="blog-text">
						<a href="https://hipgive.org/what-could-you-do-to-change-the-world/">What Could You do to Change the World?</a>
						<div class="stripa"></div>
						<p>We were happy to facilitate this summit along with the amazing support we received from the Facebook interns Dante and Hamza</p>
					</div>
				
				
					<!-- <div class="blog-pos">
						<p>11<span>Sept</span></p>
					</div> -->

				</div>
			</div>

			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="http://www.univision.com/especiales/premios-juventud/los-seis-fantasticos-latinos-que-no-llegan-a-los-30-y-ya-estan-transformando-este-pais"><img src="assets/univision" alt=""/></a>
					<div class="blog-text">
						<a href="http://www.univision.com/especiales/premios-juventud/los-seis-fantasticos-latinos-que-no-llegan-a-los-30-y-ya-estan-transformando-este-pais">Los Seis Fantásticos Latinos Transformando Este País</a>
						<div class="stripa"></div>
						<p>Six young agents of change fight from different trenches to give a better future to Hispanics living in the United States. Premios Juventud recognizes them and rewards them.</p>
					</div>
				
					
					<!-- <div class="blog-pos">
						<p>23<span>Jun</span></p>
					</div> -->

				</div>
			</div>
			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="http://hispanicheritage.org/hispanicize-2017-miami/"><img src="assets/personyear" alt=""/></a>
					<div class="blog-text">
						<a href="http://hispanicheritage.org/hispanicize-2017-miami/">CSL Fellow Awarded at Hispanicize 2017 in Miami!</a>
						<div class="stripa"></div>
						<p>Code as a Second Language (CSL) Fellow Dante Alvarado-Leon was awarded the Positive Impact Awards Person of the Year, and the STEM Star Award!</p>
					</div>
				
					
					<!-- <div class="blog-pos">
						<p>13<span>Apr</span></p>
					</div> -->
				</div>
			</div>

			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="http://hispanicizeevent.com/2017/03/09/hispanicize-announces-four-outstanding-hispanic-americans-as-winners-of-the-prudential-2017-positive-impact-awards/"><img src="assets/hispanicize" alt=""/></a>
					<div class="blog-text">
						<a href="http://hispanicizeevent.com/2017/03/09/hispanicize-announces-four-outstanding-hispanic-americans-as-winners-of-the-prudential-2017-positive-impact-awards/">Hispanicize Announces Four Outstanding Hispanic Americans as Winners of the Prudential 2017 Positive Impact Awards</a>
						<div class="stripa"></div>
						<p>Now in its fourth year, the Positive Impact Awards celebrate and honor everyday Hispanic Americans who give their time, knowledge, money and resources to create a difference in their communities.</p>
					</div>
				
					<!-- <div class="blog-pos">
						<p>2<span>Mar</span></p>
					</div> -->
				</div>
			</div>

			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="http://www.ozy.com/true-story/erasing-borders-the-mexican-american-connecting-students-and-mentors/77499"><img src="assets/ozy" alt=""/></a>
					<div class="blog-text">
						<a href="http://www.ozy.com/true-story/erasing-borders-the-mexican-american-connecting-students-and-mentors/77499">Erasing Borders: The Mexican-American Connecting Students And Mentors</a>
						<div class="stripa"></div>
						<p>With MentorRoom, I hope to build a bridge that provides access into the lives of successful mentors and resources for students to better navigate their future careers.</p>
					</div>
				
					
					<!-- <div class="blog-pos">
						<p>23<span>May</span></p>
					</div> -->
				</div>
			</div>

			<!-- <div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="http://college.usatoday.com/2017/03/30/college-geniuses-win-money/"><img src="assets/ozy" alt=""/></a>
					<div class="blog-text">
						<a href="http://college.usatoday.com/2017/03/30/college-geniuses-win-money/">These college students just got up to $10,000 for their genius ideas</a>
						<div class="stripa"></div>
						<p>Could the next genius be in today’s college generation? OZY Media is awarding 10 students up to $10,000 for their exciting ideas at their second annual OZY Genius Awards to help launch their groundbreaking projects.</p>
					</div>
				
					
					<div class="blog-pos">
						<p>30<span>Mar</span></p>
					</div>
				</div>
			</div> -->

			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="http://poetsandquantsforundergrads.com/2016/09/22/best-schools-college-startups/2/"><img src="assets/college" alt=""/></a>
					<div class="blog-text">
						<a href="http://poetsandquantsforundergrads.com/2016/09/22/best-schools-college-startups/2/">The Best Schools For College Startups</a>
						<div class="stripa"></div>
						<p>“We’ve got 50 Berkeley students from different majors, and 50 Google employees,” Alvarado-Leon says. “We matched them based on personal interests, where they’re from, etc. And from September to December this year we’re going be running this mentorship program to test the app.”</p>
					</div>
				
					
					<!-- <div class="blog-pos">
						<p>22<span>Sept</span></p>
					</div> -->
				</div>
			</div>

			<!-- <div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="http://www.venturesfoundation.org/2016/09/a-new-model-for-mentoring-an-interview-with-a-bay-area-inspire-awardee/"><img src="assets/college" alt=""/></a>
					<div class="blog-text">
						<a href="http://www.venturesfoundation.org/2016/09/a-new-model-for-mentoring-an-interview-with-a-bay-area-inspire-awardee/">A New Model For Mentoring: An Interview With a Bay Area Inspire Awardee</a>
						<div class="stripa"></div>
						<p>At the start of 2016, Philanthropic Ventures Foundation (PVF) awarded grants to eight young Bay Area residents with fresh ideas for building better communities.</p>
					</div>
				
					
					<div class="blog-pos">
						<p>22<span>Sept</span></p>
					</div>
				</div>
			</div> -->


			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="https://missionlocal.org/2015/10/mission-families-get-connected-to-tech/"><img src="assets/mission" alt=""/></a>
					<div class="blog-text">
						<a href="https://missionlocal.org/2015/10/mission-families-get-connected-to-tech/">Mission Families “Get Connected” to Tech</a>
						<div class="stripa"></div>
						<p>In a room called the “Google Lab,” CS First instructor Dante Alvarado Leon showed school-aged children the basics of coding –and almost every seat was filled as the young group learned how to design and digitally mobilize a submarine using Scratch, an online multimedia authoring program.</p>
					</div>
				
					
					<!-- <div class="blog-pos">
						<p>28<span>Oct</span></p>
					</div> -->
				</div>
			</div>

			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="http://www.huffingtonpost.com/jose-antonio-tijerino/code-as-a-second-language_b_7423220.html"><img src="assets/csl" alt=""/></a>
					<div class="blog-text">
						<a href="http://www.huffingtonpost.com/jose-antonio-tijerino/code-as-a-second-language_b_7423220.html">Code as a Second Language</a>
						<div class="stripa"></div>
						<p>Dante Alvarado-Leon is a student at UC Berkeley that also wrapped up his CSL effort this week but across the country in an underserved school in San Jose.</p>
					</div>
				
					
					<!-- <div class="blog-pos">
						<p>22<span>May</span></p>
					</div> -->
				</div>
			</div>

			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="https://dantealvaradoleon.tumblr.com/post/134684158562/entrepreneurship-choices-and-decision-making"> <img src="assets/blogdante" alt=""/></a>
					<div class="blog-text">
						<a href="https://dantealvaradoleon.tumblr.com/post/134684158562/entrepreneurship-choices-and-decision-making">Thoughts on Entrepreneurship: Revolutionizing Education in India via Open Innovation</a>
						<div class="stripa"></div>
						<p>This is my tumblr blog on the lessons I learned being part of an Industrial Engineering course to revolutionize the education system in India.</p>
					</div>
				
					<!-- <div class="blog-pos">
						<p>22<span>Sept</span></p>
					</div> -->
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--// articles-->


<!-- <div class="contact-back"></div> -->

<!--contact-->
<div class="contact" id="contact">
	<div class="container">
		<div class="contact-info text-center">
			<h3>CONTACT ME</h3>
			<div class="strip text-center"><img src="assets/con1.png" alt=" "/></div>
		</div>

		<!-- <div> 
			<h3 class="contact-grids col-md-5 contact-left">Connect with me on LinkedIn</h3>
		</div> -->
		<div class=" contact-grids">
			<div class="text-center">
				<h3 class="white-text">Connect with me on <a class="darkblue" href="https://www.linkedin.com/in/dantealvaradoleon/">LinkedIn</a>!</h3>
				
			</div>
		</div>
			
	</div>
</div>
<!--//contact-->

<!-- <div class="footer-top"></div> -->


<!--resume-->
<!-- <div class="resume text-center">
	<div class="container">
		<div class="strip text-center"><a href="#"><img src="assets/down.png" alt=" "/></a></div>
		<div class="down"><a href="#">Download My Resume</a></div>
	</div>
</div> -->
<!--//resume-->

<!--footer-->
<div class="footer">
	<div class="container">
		<p>Made with love by Dante Alvarado-Leon. Berkeley, CA, 2017 </p>
	</div>
</div>
<!--//footer-->

<a href="#" id="toTop" style="display: inline;"><span id="toTopHover" style="opacity: 0;"></span>To Top</a>

<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>