<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
	<title>Dante Alvarado-Leon</title>
	<!--fonts-->
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<!--//fonts-->
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Dante Alavarado-Leon, MentorRoom " />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<!-- js -->
		<script type="text/javascript" src="js/jquery.min.js"></script>
	<!-- js -->
	<!-- start-smooth-scrolling -->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
	<!-- start-smooth-scrolling -->

</head>
<body>
<!-- banner -->
<div class="banner" id="home">
	<div class="container"> 
		<div class="top-header row">
			<script src="assets/classie.js"></script>
			<!--top-nav -->
			<!-- <div class="logo">
				<a href="#"><img src="assets/logo.png" alt=""/></a>
			</div> -->
			<div class="top-nav">
				<%= link_to "about", "#{root_path}#about", class: "media-link"  %>

				<%= link_to "skills", "#{root_path}#skills", class: "media-link"  %>

				<%= link_to 'portfolio', "#{root_path}#portfolio", class: "media-link" %> 

				<%= link_to "blog", "#{root_path}#blog", class: "media-link"  %>

				<%= link_to 'media', media_path, class: "media-link" %> 

				<%= link_to "contact", "#{root_path}#contact", class: "media-link"  %>

				<div class="clearfix"> </div>
   
			</div>

	


			<!-- -start-click-drop-down-menu -->
			        <!-- start-dropdown-->
			         <script type="text/javascript">
						var $ = jQuery.noConflict();
							$(function() {
								$('#activator').click(function(){
									$('#box').animate({'top':'0px'},900);
								});
								$('#boxclose').click(function(){
								$('#box').animate({'top':'-1000px'},900);
								});
							});
							$(document).ready(function(){
							//Hide (Collapse) the toggle containers on load
							$(".toggle_container").hide(); 
							//Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
							$(".trigger").click(function(){
								$(this).toggleClass("active").next().slideToggle("slow");
									return false; //Prevent the browser jump to the link anchor
							});
												
						});
					</script>
			<!-- -//End-click-drop-down-menu -->
			<!-- <div class="clearfix"> </div> -->
		</div>



		<div class="banner-info">
			<div class="banner-left">
				<a href="https://www.linkedin.com/in/dantealvaradoleon/">
					<img class="img-circle" src="assets/1"/>
				</a>
			</div>
			<div class="col-md-6 banner-right">
				<!-- <h1> FROM THE BORDER TO SILICON VALLEY</h1> -->
				<h1>HI I’M DANTE!</h1>
				<div class="border"></div>
				<h2>ENTREPRENEUR & TECH ENTHUSIAST</h2>
				<!-- <p> In one line: I have a love for tech, but a passion for people.</p> -->
				
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- /header-banner -->


<!-- about -->
<div class="about text-center" id="about">
	<div class="container">
		<h3>ABOUT ME</h3>
		<div class="strip text-center"><img src="assets/about.png" alt=" "/></div>
		<p class="text-left"> Hello World! </br> </p>

		 
		<p class="text-left">I am a recent graduate from UC Berkeley, GO BEARS!</br></p>

		<p class="text-left"> I am passionate about creating products that improve our lives, and developing solutions that add social value to our society and positively impact our world. I am an entrepreneur at heart and I love coming up with innovative ideas during my spare time.  </br> At the age of 19, I founded my first venture, an online platform to connect companies with nonprofits around the world. I am currently working on my second startup, <a href="https://www.mentorroom.co/">MentorRoom</a> , our vision is to increase access to mentors for everyone via our virtual platform. </br> </p>
		 
		<p class="text-left"> I grew up in what many people commonly refer to as “La Frontera,” the border, which is at the crossroads of two distinct countries, the U.S. and Mexico, in the cities of Tijuana and Chula Vista, which have shaped who I am. </p> 



		<ul>
			<!-- <li><a class="icon_overlay fb" href="https://github.com/Dantech0017"></a></li> -->
			<li><a class="icon_overlay in" href="https://www.linkedin.com/in/dantealvaradoleon/"></a></li>	
			<li><a class="icon_overlay twit" href="https://twitter.com/DanteAlvarado10"></a></li>
		</ul>

         

	</div>
</div>
<!-- //about -->
<!-- <div class="about-back"></div>  -->

<!-- my skill -->
<div class="my-skills text-center" id="skills">
	<div class="container">
		<h3>MY SKILLS</h3>
		<div class="strip text-center"><img src="assets/skill.png" alt=" "/></div>
		<div class="skill-grids">

					<!-- every circle can only have one id or it crashes -->
					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-6"></div>
						<p>Data Analytics</p>
					</div>

					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-5"></div>
						<p>Market Research</p>
					</div>

					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-4"></div>
						<p>Brand Management & Strategy</p>
					</div>

					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-3"></div>
						<p>Product Management</p>
					</div>

					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-2"></div>
						<p>Product Design</p>
					</div>

					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-1"></div>
						<p>Web Development</p>
					</div>
					<div class="clearfix"> </div>
				 <script type="text/javascript" src="js/circles.js"></script>
					         <script>
					         	// great blue color but darker 009cd2
								var colors = [
										['#ffffff', '#1fbdec'], ['#ffffff', '#1fbdec'], ['#ffffff', '#1fbdec'], ['#ffffff', '#1fbdec'], ['#ffffff', '#1fbdec'], ['#ffffff', '#1fbdec']
									];
								for (var i = 1; i <= 7; i++) {
									var child = document.getElementById('circles-' + i),
										percentage = 30 + (i * 10);
										
									Circles.create({
										id:         child.id,
										percentage: percentage,
										radius:     80,
										width:      10,
										number:   	percentage / 1,
										text:       '%',
										colors:     colors[i - 1]
									});
								}
						
				</script>
		</div>
	</div>	
</div>
<!-- //my skill
<!<div class="my-skill-back"></div>

<! <div class="strip-border"><p></p></div> 
<! work -->
<div class="work-experience text-center">
	
	<div class="container">
		<div class="work-info">
			<h3>WORK EXPERIENCE</h3>
		</div>
		<div class="strip text-center"><img src="assets/work.png" alt=" "/></div>
		<div class="work-grids">

			<div class="col-md-4 w-grid">
				<div class="work-grid">
					<h3>June 2017 - Present</h3>
					<div class="work-grid-info">
						<h4>Accenture</h4>
						<h5>Sr. Research Specialist</h5>
						<p>Global research lead for the Software & Platforms industry, which includes leading and emerging Platform companies such as Google, Facebook, Microsoft, Salesforce, and Amazon. Responsible for analyzing the market opportunity and developing thought leadership within Accenture's fastest growing industry. Currently manage a team of global researchers in the U.S., Europe, and APAC.</p>
					</div>
				</div>
			</div>

			<div class="col-md-4 w-grid">
				<div class="work-grid">
					<h3>May 2016 - August 2016</h3>
					<div class="work-grid-info">
						<h4>Facebook</h4>
						<h5>Product Specialist Intern</h5>
						<p>Worked with the Videos/Media team to research mobile data caps for Autoplay, and 
						develop recommendations to improve the experience for millions of data-sensitive users around the world. Launched the "Beyond Connected" internal marketing campaign.</p>
					</div>
				</div>
			</div>


			<div class="col-md-4 w-grid">
				<div class="work-grid">
					<h3>June 2015 - August 2015</h3>
					<div class="work-grid-info">
						<h4>Facebook</h4>
						<h5>Marketing and Referrals Intern</h5>
						<p>Designed the “Beyond Connected” brand and marketing strategy for Facebook’s Employee Referrals Program. Developed an internal landing site using HTML and CSS to inform and encourage Facebook employees to submit referrals. Composed scripts, interviewed recruiters, filmed, and edited three company videos in Adobe Premiere.</p>
					</div>
				</div>
			</div>


			<!-- <div class="col-md-4 w-grid">
				<div class="work-grid">
					<h3>2013 - Now</h3>
					<div class="work-grid-info">
						<h4>Google</h4>
						<h5>Visual Designer</h5>
						<p>Now that there is the Tec-9, a crappy spray gun from South Miami. 
						This gun is advertised as the most popular gun in American crime. 
						Do you believe that shit? It actually says that in the little book 
						that comes with it: the most popular gun in</p>
					</div>
				</div>
			</div> -->

			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--//work-->


<!-- <div class="services-back"></div> -->

<!--services-->
<!-- <div class="services text-center" id="services">
	<div class="container">
		<div class="ser-info">
			<h3>SERVICES</h3>
		</div>
		<div class="strip text-center"><img src="assets/ser.png" alt=" "/></div>
		<div class="ser-grids">
			<div class="col-md-3 ser-grid">
				<div class="ser-imagea"></div>
				<h3>Web Design</h3>
				<p>I'm gonna shoot you in the head
				then and there. Then I'm gonna shoot 
				that bitch in the kneecaps.</p>
			</div>
			<div class="col-md-3 ser-grid">
				<div class="ser-imageb"></div>
				<h3>Graphic Design</h3>
				<p>I'm gonna shoot you in the head
				then and there. Then I'm gonna shoot 
				that bitch in the kneecaps.</p>
			</div>
			<div class="col-md-3 ser-grid">
				<div class="ser-imagec"></div>
				<h3>Content Writer</h3>
				<p>I'm gonna shoot you in the head
				then and there. Then I'm gonna shoot 
				that bitch in the kneecaps.</p>
			</div>
			<div class="col-md-3 ser-grid">
				<div class="ser-imaged"></div>
				<h3>Development</h3>
				<p>I'm gonna shoot you in the head
				then and there. Then I'm gonna shoot 
				that bitch in the kneecaps.</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div> -->
<!--//services-->


<!--portfolio-->
<div class="gallery-section text-center" id="portfolio">
	<div class="container">
		<h3>PORTFOLIO</h3>
		<div class="strip text-center"><img src="assets/port.png" alt=" "/></div>
		<p>A selection of ideas and product designs I've worked on.</p>
		<div class="gallery-grids">
			<div class="top-gallery">

				<div class="col-md-4 blog-text-info">
					<div class="blog-grid">
						<a href="single.html"><img src="assets/mrapp" alt=""/></a>
						<div class="portfolio-box">
							<a href="www.mentorroom.co">MentorRoom</a>
							<p class="black-text">Developed a pitch deck and presented it at the Kapor Capital's People Ops Tech Competition 2016.</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 blog-text-info">
					<div class="blog-grid">
						<a href="single.html"><img src="assets/mrweb" alt=""/></a>
						<div class="portfolio-box">
							<a href="single.html">MentorRoom</a>
							<p class="black-text">Web development & design: A virtual mentorship platform for college students and professionals.</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 blog-text-info">
					<div class="blog-grid">
						<a href="single.html"><img src="assets/backstory" alt=""/></a>
						<div class="portfolio-box">
							<a href="single.html">BackStory</a>
							<p class="black-text">Mobile app design + idea: Share your background while messaging your friends.</p>
						</div>
					</div>
				</div>


				<div class="col-md-4 blog-text-info">
					<div class="blog-grid">
						<a href="single.html"><img src="assets/lifesaver" alt=""/></a>
						<div class="portfolio-box">
							<a href="single.html">LifeSaver</a>
							<p class="black-text">Product design and slidedeck: Social Media Management Platform for Bloggers</p>
						</div>
					</div>
				</div>


				<div class="col-md-4 blog-text-info">
					<div class="blog-grid">
						<a href="single.html"><img src="assets/enlighten" alt=""/></a>
						<div class="portfolio-box">
							<a href="single.html">Enlighten</a>
							<p class="black-text">IDEAFEST Finalist @ Berkeley: Introducing a wireless charger solution to charge your phones on-the-go.</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 blog-text-info">
					<div class="blog-grid">
						<a href="#"><img src="assets/carpool" alt=""/></a>
						<div class="portfolio-box">
							<a href="single.html">Carpool Casually</a>
							<p class="black-text">Prototype for IEOR 186: Product Management class. Our team developed a carpool solution for working professionals in the Bay Area.</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 blog-text-info">
					<div class="blog-grid">
						<a href="single.html"><img src="assets/eyetrain" alt=""/></a>
						<div class="portfolio-box">
							<a href="single.html">Eyetrain</a>
							<p class="black-text">Developed the Pitch deck design and idea, and presented it to a panel. Eyetrain is a Virtual Reality education platform for medical students.</p>
						</div>
					</div>
				</div>


				


				<div class="col-md-4 blog-text-info">
					<div class="blog-grid">
						
						<iframe width="349.98px" height="207" src="https://www.youtube.com/embed/ikxjTQd4iQs" frameborder="0" allowfullscreen></iframe>

						<div class="portfolio-box">
							<a href="single.html">My World App</a>
							<p class="black-text">Prototype + Concept: Complete a checklist by taking pictures of social issues impacting your community, and become a catalyst for change among your friends.</p>
						</div>
					</div>
				</div>


				<!-- doesnt resize with web broswer
				<div class="col-md-4 w-grid">
					<div class="work-grid">
						<img src="assets/p1.jpg" class="portfolio-image">
						<div class="portfolio-box">
							<h4>Facebook</h4>
							<h5>Product Specialist Intern</h5>
							<p class="black-text">Worked with the Videos/Media team to research mobile data caps for Autoplay, and 
							develop recommendations to improve the experience for millions of data-sensitive users around the world. Launched the "Beyond Connected" internal marketing campaign.</p>
						</div>
					</div>
				</div> -->

				<!-- <div class="col-md-4 gallery-grid gallery1">
					<a href="assets/p6.jpg" class="swipebox"><img src="assets/p6.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>Project Name</h4>
							<p>WEB DESIGN</p>
							<div class="button"><a href="assets/p6.jpg" class="swipebox">VIEW</a></div>
						</div>
				</div></a> -->


				<div class="clearfix"> </div>
			</div>
				<link rel="stylesheet" href="css/swipebox.css">
				<script src="js/jquery.swipebox.min.js"></script> 
					<script type="text/javascript">
						jQuery(function($) {
							$(".swipebox").swipebox();
						});
					</script>
		</div>
	</div>
</div>
<!--//portfolio-->

<!--process-->
<!-- <div class="process text-center">
	<div class="container">
		<h3>PROCESS</h3>
		<div class="strip text-center"><img src="assets/pro.png" alt=" "/></div>
		<div class="process-girds">
			<div class="col-md-2 process-pad">
				<div class="process-gird">
					<div class="process-imagea"></div>
					<p>IDEA</p>
					<img src="assets/6.png" alt=""/>
				</div>
			</div>
			<div class="col-md-2 process-pad">
				<div class="process-gird">
					<div class="process-imageb"></div>
					<p>CONCEPT</p>
					<img class="pro-imga" src="assets/6.png" alt=""/>
				</div>
			</div>
			<div class="col-md-2 process-pad">
				<div class="process-gird">
					<div class="process-imagec"></div>
					<p>DESIGN</p>
					<img class="pro-img" src="assets/6.png" alt=""/>
				</div>
			</div>
			<div class="col-md-2 process-pad">
				<div class="process-gird">
					<div class="process-imaged"></div>
					<p>DEVELOP</p>
					<img class="pro-imgb" src="assets/6.png" alt=""/>
				</div>
			</div>
			<div class="col-md-2 process-pad">
				<div class="process-gird">
					<div class="process-imagee"></div>
					<p>TEST</p>
					<img src="assets/6.png" alt=""/>
				</div>
			</div>
			<div class="col-md-2 process-pad">
				<div class="process-gird">
					<div class="process-imagef"></div>
					<p>LAUNCH</p>
					
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div> -->
<!--//process-->


<!-- <div class="process-back"></div> -->

<!--testimonials-->
<!-- <div class="testimonials" id="testimonial">
	<div class="container">
		<h3>TESTIMONIAL</h3>
		<div class="strip text-center"><img src="assets/test.png" alt=" "/></div>
		 -->	<!-- responsiveslides -->
					<!-- <script src="js/responsiveslides.min.js"></script>
						<script>
							// You can also use "$(window).load(function() {"
							$(function () {
							 // Slideshow 4
							$("#slider3").responsiveSlides({
								auto: true,
								pager: false,
								nav: true,
								speed: 500,
								namespace: "callbacks",
								before: function () {
							$('.events').append("<li>before event fired.</li>");
							},
							after: function () {
								$('.events').append("<li>after event fired.</li>");
								}
								});
								});
						</script> -->
			<!-- responsiveslides -->
			<!-- <div  id="top" class="callbacks_container">
					<ul class="rslides" id="slider3">
						<li>
							<div class="test-banner">
								<img class="quoa" src="assets/quo2.png" alt=""/>
								<div class="test-left">
									<img src="assets/7.png" alt=""/>
								</div>
								<div class="test-right">
									<p>However unreal it may seem, we are connected, 
									you and I. We're on the same curve, just on opposite ends.</p>
									<h4>Sam L. J. - Pulp Fiction</h4>
								</div>
								<div class="clearfix"></div>
								<img class="quo" src="assets/quo1.png" alt=""/>
							</div>
						</li>
						<li>
							<div class="test-banner">
								<img class="quoa" src="assets/quo2.png" alt=""/>
								<div class="test-left">
									<img src="assets/eee.png" alt=""/>
								</div>
								<div class="test-right">
									<p>However unreal it may seem, we are connected, 
									you and I. We're on the same curve, just on opposite ends.</p>
									<h4>Sam L. J. - Pulp Fiction</h4>
								</div>
								<div class="clearfix"></div>
								<img class="quo" src="assets/quo1.png" alt=""/>
							</div>
						</li>
					</ul>
			</div>
			
	</div>
</div> -->
<!--testimonials-->


<!--clients-->
<!-- <div class="clients text-center">
	<div class="container">
		<h4>Clients</h4>
		<div class="strip-line"></div>
		<div class="client-grids">
			<div class="col-md-4 cl-grid">
				<div class="client-grid">
					<img src="assets/10.png" alt=""/>
				</div>
			</div>
			<div class="col-md-4 cl-grid">
				<div class="client-grid">
					<img src="assets/11.png" alt=""/>
				</div>
			</div>
			<div class="col-md-4 cl-grid">
				<div class="client-grid">
					<img src="assets/12.png" alt=""/>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div> -->
</div>
<!--clients-->
<!-- <div class="client-back"></div> -->

<!--education-->
<div class="education text-center">
	<div class="container">
		<div class="edu-info">
			<h3>EDUCATION</h3>
		</div>
		<div class="strip text-center"><img src="assets/edu.png" alt=" "/></div>

		<div class="col-md-4 col-md-offset-2 edu-grids">
			<div class="edu-grid">
				<p>2013 - 2017</p><span>Graduated</span>
				<!-- <img src="assets/arrow.png" alt=""/> -->
				<div class="edu-border">
					<div class="edu-grid-master">
						<h3>BACHELOR OF SCIENCE IN BUSINESS ADMINISTRATION</h3>
						<h4>Haas School of Business</h4>
						<h4>University of California, Berkeley</h4>
					</div>
					<!-- <div class="edu-grid-info">
						<h5>Focus on Entrepreneurship & Technology </h5>
					</div> -->

					
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-4 edu-grids">
			<div class="edu-grid">
				<p>2017</p><span>Received</span>
				<div class="edu-border">
					<div class="edu-grid-master">
						<h3>CERTIFICATE IN TECHNOLOGY ENTREPRENEURSHIP</h3>
						<h4>College of Engineering</h4>
						<h4>University of California, Berkeley</h4>
					</div>
					<!-- <div class="edu-grid-info">
						<h5>Focus on Entrepreneurship & Technology </h5>
					</div> -->

				</div>
			</div>
			<div class="clearfix"></div>
		</div>

	</div>
	
</div>
<!--//education-->


<!--blog-->
<div class="blog" id="blog">
	<div class="container">
		<div class="blog-info text-center">
			<h3>BLOG</h3>
			<div class="strip text-center"><img src="assets/blog.png" alt=" "/></div>
		</div>

		<div class="blog-grids">

			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="https://medium.com/@dantealvaradoleon/dear-college-students-ffdeb026cb50"><img src="assets/dear" alt=""/></a>
					<div class="blog-text">
						<a href="https://medium.com/@dantealvaradoleon/dear-college-students-ffdeb026cb50">Dear College Student</a>
						<div class="stripa"></div>
						<p>We live in a world of ideas, imaginations turned into realizations...</p>
					</div>
				
					<!-- <div class="blog-para">
							<ul>
								<li><a href="#">3 Comments</a></li>
								<li><a href="#">8 Share</a></li>
							</ul>
					</div>	 -->
					<div class="blog-pos">
						<p>13<span>Oct</span></p>
					</div>
				</div>
			</div>

			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="https://medium.com/@dantealvaradoleon/life-s-greatest-coach-107e1eb3ec91"><img src="assets/ball" alt=""/></a>
					<div class="blog-text">
						<a href="https://medium.com/@dantealvaradoleon/life-s-greatest-coach-107e1eb3ec91">Life’s Greatest Coach</a>
						<div class="stripa"></div>
						<p>I had been able to accomplish many of my aspirations was because since I was a child, I used to play soccer and it had taught me many valuable life lessons.</p>
					</div>
				
				
					<div class="blog-pos">
						<p>10<span>Mar</span></p>
					</div>
				</div>
			</div>


			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--//blog-->




<!-- <div class="contact-back"></div> -->

<!--contact-->
<div class="contact" id="contact">
	<div class="container">
		<div class="contact-info text-center">
			<h3>CONTACT ME</h3>
			<div class="strip text-center"><img src="assets/con1.png" alt=" "/></div>
		</div>

		<!-- <div> 
			<h3 class="contact-grids col-md-5 contact-left">Connect with me on LinkedIn</h3>
		</div> -->
		<div class=" contact-grids">
			<div class="col-md-4 col-md-offset-4 contact-left">
				<h3 class="white-text">Connect with me on <a class="white-text" href="linkedin.com">LinkedIn</a>!</h3>
				<!-- <ul>
					<li><a href="linkedin.com">linkedin</a></li>
					<li><a href="twitter.com">twitter</a></li>
				</ul> -->
			</div>
		</div>
			
	</div>
</div>
<!--//contact-->

<!-- <div class="footer-top"></div> -->


<!--resume-->
<!-- <div class="resume text-center">
	<div class="container">
		<div class="strip text-center"><a href="#"><img src="assets/down.png" alt=" "/></a></div>
		<div class="down"><a href="#">Download My Resume</a></div>
	</div>
</div> -->
<!--//resume-->

<!--footer-->
<div class="footer">
	<div class="container">
		<p>Made with love by Dante Alvarado-Leon. Berkeley, CA, 2017 </p>
	</div>
</div>
<!--//footer-->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>