<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
	<title>Dante Alvarado-Leon</title>
	<!--fonts-->
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<!--//fonts-->
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Dante Alavarado-Leon, MentorRoom " />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<!-- js -->
		<script type="text/javascript" src="js/jquery.min.js"></script>
	<!-- js -->
	<!-- start-smooth-scrolling -->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
	<!-- start-smooth-scrolling -->

</head>
<body>
<!-- banner -->
<div class="banner" >
	<div class="container"> 
		<div class="top-header row">
			<script src="assets/classie.js"></script>
			<!--top-nav -->
			<!-- <div class="logo">
				<a href="#"><img src="assets/logo.png" alt=""/></a>
			</div> -->

			<div class="top-nav">
				<%= link_to "about", "#{root_path}#about", class: "media-link"  %>

				<%= link_to "skills", "#{root_path}#skills", class: "media-link"  %>

				<%= link_to 'portfolio', "#{root_path}#portfolio", class: "media-link" %> 

				<%= link_to "blog", "#{root_path}#blog", class: "media-link"  %>

				<%= link_to 'media', media_path, class: "media-link" %> 

				<%= link_to "contact", "#{root_path}#contact", class: "media-link"  %>

				<div class="clearfix"> </div>
   
			</div>

	


			<!-- -start-click-drop-down-menu -->
			        <!-- start-dropdown-->
			         <script type="text/javascript">
						var $ = jQuery.noConflict();
							$(function() {
								$('#activator').click(function(){
									$('#box').animate({'top':'0px'},900);
								});
								$('#boxclose').click(function(){
								$('#box').animate({'top':'-1000px'},900);
								});
							});
							$(document).ready(function(){
							//Hide (Collapse) the toggle containers on load
							$(".toggle_container").hide(); 
							//Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
							$(".trigger").click(function(){
								$(this).toggleClass("active").next().slideToggle("slow");
									return false; //Prevent the browser jump to the link anchor
							});
												
						});
					</script>
			<!-- -//End-click-drop-down-menu -->
			<!-- <div class="clearfix"> </div> -->
		</div>



		<div class="banner-info">
			<!-- <div class="banner-left">
				<img class="img-circle" src="assets/1"/>
			</div> -->
			<div class="banner-font">
				<h1>WELCOME TO MY MEDIA</h1>
				<div class="border"></div>
				<!-- <h2>ENTREPRENEUR & TECH ENTHUSIAST</h2> -->
				<!-- <p> In one line: I have a love for tech, but a passion for people.</p> -->
				
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- /header-banner -->


<!--social entrepreneurship-->
<div class="blog" id="entrepreneurship">
	<div class="container">
		<div class="blog-info text-center">
			<h3>SOCIAL ENTREPRENEURSHIP IN ACTION!</h3>
			<div class="strip text-center"><img src="assets/blog.png" alt=" "/></div>
		</div>
		<div class="blog-grids">


			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<iframe width="349.98px" height="207" src="https://www.youtube.com/embed/sd_4R8D0ytg" frameborder="0" allowfullscreen></iframe>
					<div class="blog-text">
						<a href="#">Kapor Capital Pitch Competition</a>
						<div class="stripa"></div>
						<p>Selected out of 90 Startups to pitch at the 2nd Annual People Ops Tech Competition.</p>
					</div>
				
			
				</div>
			</div>


			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<!-- <a href="single.html"><img src="assets/mrweb" alt=""/></a> -->

					<iframe width="349.98px" height="207" src="https://www.youtube.com/embed/FNakfk2RRkc" frameborder="0" allowfullscreen></iframe>

					<div class="blog-text">
						<a href="https://www.mentorroom.co/photos">MentorRoom - Recap of 2016!</a>
						<div class="stripa"></div>
						<p>Amazing experience leading a virtual mentorship initiative for 100 participants to help first-generation students at UC Berkeley by pairing them with Google mentors</p>
					</div>
				
				</div>
			</div>


			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">

					<iframe width="349.98px" height="207" src="https://www.youtube.com/embed/8mBkcxBcqAA" frameborder="0" allowfullscreen></iframe>

					<div class="blog-text">
						<a href="#">"A Relentless Journey"</a>
						<div class="stripa"></div>
						<p>Developed a short documentary about my life for the Authentic Berkeley Program. My movie was showcased at the Educational Opportunity Program Awards Ceremony.</p>
					</div>
				
				</div>
			</div>

			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<iframe width="349.98px" height="207" src="https://www.youtube.com/embed/XRq8LA-g6pM" frameborder="0" allowfullscreen></iframe>
					<div class="blog-text">
						<a href="#">TeenTech SF - STEM Panel Speaker</a>
						<div class="stripa"></div>
						<p>I was invited to share about my experiences interning at Facebook and being a student at UC Berkeley with the TTSF Community.</p>
					</div>
				
					
				</div>
			</div>

			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<iframe width="349.98px" height="207" src="https://www.youtube.com/embed/uNPg3ZIcIXU" frameborder="0" allowfullscreen></iframe>
					<div class="blog-text">
						<a href="http://www.loftcsl.org/programs/loft-coder-summit/">Latino LOFT Coder Summit </a>
						<div class="stripa"></div>
						<p>Helped develop the initiative to connect Latinx coders by hosting summits all around the U.S.</p>
					</div>
				
					
				</div>
			</div>

			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--//social entrepreneurship-->


<!--blog-->

<div class="blog" id="articles" >
	<div class="container">
		<div class="blog-info text-center">
			<h3>ARTICLES</h3>
			<div class="strip text-center"><img src="assets/blog.png" alt=" "/></div>
		</div>
		<div class="blog-grids">
			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="https://hipgive.org/what-could-you-do-to-change-the-world/"><img src="assets/teaching" alt=""/></a>
					<div class="blog-text">
						<a href="https://hipgive.org/what-could-you-do-to-change-the-world/">What Could You do to Change the World?</a>
						<div class="stripa"></div>
						<p>We were happy to facilitate this summit along with the amazing support we received from the Facebook interns Dante and Hamza</p>
					</div>
				
				
					<!-- <div class="blog-pos">
						<p>11<span>Sept</span></p>
					</div> -->

				</div>
			</div>

			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="http://www.univision.com/especiales/premios-juventud/los-seis-fantasticos-latinos-que-no-llegan-a-los-30-y-ya-estan-transformando-este-pais"><img src="assets/univision" alt=""/></a>
					<div class="blog-text">
						<a href="http://www.univision.com/especiales/premios-juventud/los-seis-fantasticos-latinos-que-no-llegan-a-los-30-y-ya-estan-transformando-este-pais">Los Seis Fantásticos Latinos Transformando Este País</a>
						<div class="stripa"></div>
						<p>Six young agents of change fight from different trenches to give a better future to Hispanics living in the United States. Premios Juventud recognizes them and rewards them.</p>
					</div>
				
					
					<!-- <div class="blog-pos">
						<p>23<span>Jun</span></p>
					</div> -->
					
				</div>
			</div>
			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="http://hispanicheritage.org/hispanicize-2017-miami/"><img src="assets/personyear" alt=""/></a>
					<div class="blog-text">
						<a href="http://hispanicheritage.org/hispanicize-2017-miami/">CSL Fellow Awarded at Hispanicize 2017 in Miami!</a>
						<div class="stripa"></div>
						<p>Code as a Second Language (CSL) Fellow Dante Alvarado-Leon was awarded the Positive Impact Awards Person of the Year, and the STEM Star Award!</p>
					</div>
				
					
					<!-- <div class="blog-pos">
						<p>13<span>Apr</span></p>
					</div> -->
				</div>
			</div>

			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="http://hispanicizeevent.com/2017/03/09/hispanicize-announces-four-outstanding-hispanic-americans-as-winners-of-the-prudential-2017-positive-impact-awards/"><img src="assets/hispanicize" alt=""/></a>
					<div class="blog-text">
						<a href="http://hispanicizeevent.com/2017/03/09/hispanicize-announces-four-outstanding-hispanic-americans-as-winners-of-the-prudential-2017-positive-impact-awards/">Hispanicize Announces Four Outstanding Hispanic Americans as Winners of the Prudential 2017 Positive Impact Awards</a>
						<div class="stripa"></div>
						<p>Now in its fourth year, the Positive Impact Awards celebrate and honor everyday Hispanic Americans who give their time, knowledge, money and resources to create a difference in their communities.</p>
					</div>
				
					<!-- <div class="blog-pos">
						<p>2<span>Mar</span></p>
					</div> -->
				</div>
			</div>

			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="http://www.ozy.com/true-story/erasing-borders-the-mexican-american-connecting-students-and-mentors/77499"><img src="assets/ozy" alt=""/></a>
					<div class="blog-text">
						<a href="http://www.ozy.com/true-story/erasing-borders-the-mexican-american-connecting-students-and-mentors/77499">Erasing Borders: The Mexican-American Connecting Students And Mentors</a>
						<div class="stripa"></div>
						<p>With MentorRoom, I hope to build a bridge that provides access into the lives of successful mentors and resources for students to better navigate their future careers.</p>
					</div>
				
					
					<!-- <div class="blog-pos">
						<p>23<span>May</span></p>
					</div> -->
				</div>
			</div>

			<!-- <div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="http://college.usatoday.com/2017/03/30/college-geniuses-win-money/"><img src="assets/ozy" alt=""/></a>
					<div class="blog-text">
						<a href="http://college.usatoday.com/2017/03/30/college-geniuses-win-money/">These college students just got up to $10,000 for their genius ideas</a>
						<div class="stripa"></div>
						<p>Could the next genius be in today’s college generation? OZY Media is awarding 10 students up to $10,000 for their exciting ideas at their second annual OZY Genius Awards to help launch their groundbreaking projects.</p>
					</div>
				
					
					<div class="blog-pos">
						<p>30<span>Mar</span></p>
					</div>
				</div>
			</div> -->

			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="http://poetsandquantsforundergrads.com/2016/09/22/best-schools-college-startups/2/"><img src="assets/college" alt=""/></a>
					<div class="blog-text">
						<a href="http://poetsandquantsforundergrads.com/2016/09/22/best-schools-college-startups/2/">The Best Schools For College Startups</a>
						<div class="stripa"></div>
						<p>“We’ve got 50 Berkeley students from different majors, and 50 Google employees,” Alvarado-Leon says. “We matched them based on personal interests, where they’re from, etc. And from September to December this year we’re going be running this mentorship program to test the app.”</p>
					</div>
				
					
					<!-- <div class="blog-pos">
						<p>22<span>Sept</span></p>
					</div> -->
				</div>
			</div>

			<!-- <div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="http://www.venturesfoundation.org/2016/09/a-new-model-for-mentoring-an-interview-with-a-bay-area-inspire-awardee/"><img src="assets/college" alt=""/></a>
					<div class="blog-text">
						<a href="http://www.venturesfoundation.org/2016/09/a-new-model-for-mentoring-an-interview-with-a-bay-area-inspire-awardee/">A New Model For Mentoring: An Interview With a Bay Area Inspire Awardee</a>
						<div class="stripa"></div>
						<p>At the start of 2016, Philanthropic Ventures Foundation (PVF) awarded grants to eight young Bay Area residents with fresh ideas for building better communities.</p>
					</div>
				
					
					<div class="blog-pos">
						<p>22<span>Sept</span></p>
					</div>
				</div>
			</div> -->


			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="https://missionlocal.org/2015/10/mission-families-get-connected-to-tech/"><img src="assets/mission" alt=""/></a>
					<div class="blog-text">
						<a href="https://missionlocal.org/2015/10/mission-families-get-connected-to-tech/">Mission Families “Get Connected” to Tech</a>
						<div class="stripa"></div>
						<p>In a room called the “Google Lab,” CS First instructor Dante Alvarado Leon showed school-aged children the basics of coding –and almost every seat was filled as the young group learned how to design and digitally mobilize a submarine using Scratch, an online multimedia authoring program.</p>
					</div>
				
					
					<!-- <div class="blog-pos">
						<p>28<span>Oct</span></p>
					</div> -->
				</div>
			</div>

			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="http://www.huffingtonpost.com/jose-antonio-tijerino/code-as-a-second-language_b_7423220.html"><img src="assets/csl" alt=""/></a>
					<div class="blog-text">
						<a href="http://www.huffingtonpost.com/jose-antonio-tijerino/code-as-a-second-language_b_7423220.html">Code as a Second Language</a>
						<div class="stripa"></div>
						<p>Dante Alvarado-Leon is a student at UC Berkeley that also wrapped up his CSL effort this week but across the country in an underserved school in San Jose.</p>
					</div>
				
					
					<!-- <div class="blog-pos">
						<p>22<span>May</span></p>
					</div> -->
				</div>
			</div>

			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a> <img src="assets/blogdante" alt=""/></a>
					<div class="blog-text">
						<a href="https://dantealvaradoleon.tumblr.com/post/134684158562/entrepreneurship-choices-and-decision-making">Thoughts on Entrepreneurship: Revolutionizing Education in India via Open Innovation</a>
						<div class="stripa"></div>
						<p>This is my tumblr blog on the lessons I learned being part of an Industrial Engineering course to revolutionize the education system in India.</p>
					</div>
				
					
					<!-- <div class="blog-pos">
						<p>22<span>Sept</span></p>
					</div> -->
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--//blog-->

<!--adventures-->
<div class="blog" id="adventures">
	<div class="container">
		<div class="blog-info text-center">
			<h3>SELECTED ADVENTURES</h3>
			<h4>Following my heart everywhere I go, in pursuit of excellence!</h4>
			<div class="strip text-center"><img src="assets/blog.png" alt=" "/></div>
		</div>
		<div class="blog-grids">


			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="#"><img src="assets/president" alt=""/></a>
					<div class="blog-text">
						<a href="#">On a Mission to Design a Better World for All!</a>
						<div class="stripa"></div>
						<p>Practicing for my presidential speech in 2032!</p>
					</div>
				
			
				</div>
			</div>


			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<!-- <a href="single.html"><img src="assets/mrweb" alt=""/></a> -->

					<img src="assets/mrgoogle" alt=""/>

					<div class="blog-text">
						<a href="https://www.mentorroom.co/photos">Founded MentorRoom</a>
						<div class="stripa"></div>
						<p>Launched a closed beta program in partnership with Google and connected 50 undergrads with 50 Google software engineers, product managers, and program managers for mentorship. Accomplished over 450 hours of mentorship and raised $15k for the program.</p>
					</div>
				
				</div>
			</div>


			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">

					<a href="#"><img src="assets/hongkong" alt=""/></a>

					<div class="blog-text">
						<a href="#">India to Hong Kong</a>
						<div class="stripa"></div>
						<p>Selected as one of 30 scholars to work alongside corporate partners and government officials to build a social impact model in Andhra Pradesh contingent with the "100 Smart Cities Plan" in India.</p>
					</div>
				
				</div>
			</div>

			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="#"><img src="assets/manos" alt=""/></a>
					<div class="blog-text">
						<a href="#">Manos Accelerator - Entrepreneur in Residence</a>
						<div class="stripa"></div>
						<p>My sophomore year I was selected to participated in a Silicon Valley accelerator out of 70+ startups around the world. It was a great learning experience!</p>
					</div>
				
					
				</div>
			</div>

			

			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--//adventures-->





<!-- <div class="contact-back"></div> -->


<!--contact-->
<div class="contact" >
	<div class="container">
		<div class="contact-info text-center">
			<h3>CONTACT ME</h3>
			<div class="strip text-center"><img src="assets/con1.png" alt=" "/></div>
		</div>

		<!-- <div> 
			<h3 class="contact-grids col-md-5 contact-left">Connect with me on LinkedIn</h3>
		</div> -->
		<div class=" contact-grids">
			<div class="col-md-4 col-md-offset-4 contact-left">
				<h3 class="white-text">Connect with me on <a class="white-text" href="linkedin.com">LinkedIn</a>!</h3>
				<!-- <ul>
					<li><a href="linkedin.com">linkedin</a></li>
					<li><a href="twitter.com">twitter</a></li>
				</ul> -->
			</div>
		</div>
			
	</div>
</div>
<!--//contact-->

<!-- <div class="footer-top"></div> -->


<!--resume-->
<!-- <div class="resume text-center">
	<div class="container">
		<div class="strip text-center"><a href="#"><img src="assets/down.png" alt=" "/></a></div>
		<div class="down"><a href="#">Download My Resume</a></div>
	</div>
</div> -->
<!--//resume-->

<!--footer-->
<div class="footer">
	<div class="container">
		<p>Made with excitement by Dante Alvarado-Leon :)</p>
	</div>
</div>
<!--//footer-->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>